.article-preview-container {
  height: 300px;
  width: 1000px;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.article-preview-content {
  display: flex;
  flex-direction: column;
}

.article-thumbnail {
  margin: 10px;
  img {
    cursor: pointer;
    width: 250px;
    height: 300px;
  }
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -25px;

  h2 {
    cursor: pointer;
  }
}

.article-author {
  h3 {
    cursor: pointer;
  }
}

.article-description {
  display: flex;
}
