.audioPlayerStyle{
    border-radius: 50000px;
    background-color: #000066;
}

.audio-player{

}

audio::webkit-media-controls-panel{
    border-radius: 150px;
    width: 20px;
}

audio::-webkit-media-controls-play-button{
    background-color:green;}